asgiref==3.3.1
astroid==2.5
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cloudscraper==1.2.58
colorama==0.4.4
cryptography==3.4.7
dj-database-url==0.5.0
Django==3.1.7
gunicorn==20.1.0
idna==2.10
iso8601==0.1.14
isort==5.7.0
lazy-object-proxy==1.5.2
m3u8==0.8.0
mccabe==0.6.1
mysql-connector-python==8.0.24
pycparser==2.20
pylint==2.7.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytz==2021.1
psycopg2==2.8.6
requests==2.25.1
requests-toolbelt==0.9.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
Unidecode==1.2.0
urllib3==1.26.4
whitenoise==5.2.0
wrapt==1.12.1
