{% extends '../index.html' %}

{% block content %}

    <div class="container">
        <section class="header center-align">
            <h1>Break&nbspNews</h1>
            <span>Самый&nbspавторитетный&nbspновостной&nbspресурс</span>
        </section>

        <section class="flow-t about">
            <h3 class="center-align">Немного&nbspо&nbspнас</h3>
            <div class="info">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus deleniti ex repellat minima officiis tenetur, unde odit corporis suscipit pariatur provident vel incidunt magni dolore. Debitis sit vel quaerat quam?</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus deleniti ex repellat minima officiis tenetur, unde odit corporis suscipit pariatur provident vel incidunt magni dolore. Debitis sit vel quaerat quam?</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus deleniti ex repellat minima officiis tenetur, unde odit corporis suscipit pariatur provident vel incidunt magni dolore. Debitis sit vel quaerat quam?</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus deleniti ex repellat minima officiis tenetur, unde odit corporis suscipit pariatur provident vel incidunt magni dolore. Debitis sit vel quaerat quam?</p>
            </div>
        </section>
    </div>

{% endblock %}